.optionLink {
  width: 35%;
  display: flex;
  justify-content: space-around;
  font-family: "Roboto Slab";
  
}

.languageOption {
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto Slab";
  padding-right: 15px;
}

.basicSetup {
  font-size: 18px;
}

.menu-icon{
    margin-right: 2rem;
    font-size: 2rem; 
    background:none;
}

.navMenu{
    background-color: #FFFFFF;
    width: 20%;
    /* height: 100vh; */
    height: 10px;
    display: flex;
    transition: 850ms;
}
